/* || IMPORT GOOGLE FONT LINKS */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

/* || RESET */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

input,
button,
textarea {
  font: inherit;
}

/* || VARIABLES */
/* CHANGE THE DATA BELOW AS NEEDED */
:root {
  /* FONTS */
  --FF: "Roboto", sans-serif;
  --FS: clamp(0.8rem, 1.5vw, 1rem);

  /* COLORS */
  --BGCOLOR: whitesmoke;
  --BGCOLOR-HEADER: #333;
  --BGCOLOR-NAV: #555;
  --BGCOLOR-NAV-BUTTON: #555;
  --BGCOLOR-NAV-BUTTON-HOVER: #777;
  --FONT-COLOR: #000;
  --FONT-COLOR-HEADER-TITLE: #fff;
  --FONT-COLOR-NAV-BUTTON: #fff;
  --FONT-COLOR-PAGE-SECTION: #fff;
  --BORDER-COLOR: #aaa;
  --SHADOW-COLOR: rgba(0, 0, 0, 0.3);

  /* BORDERS */
  --BORDER: 1px solid var(--BORDER-COLOR);

  /* SHADOWS */
  --BOX-SHADOW: 0 5px 10px var(--SHADOW-COLOR);

  /* STANDARD PADDING */
  --PADDING-TEXT: 0.25em 2.5%;

  /* STANDARD MARGIN */
  --MARGIN-TEXT: clamp(1em, 2.5vh, 1.5em) 0;
}

/* || UTILITY CLASSES */
.container {
  max-width: 100rem;
  margin: 0 auto;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.sr-only {
  position: absolute;
  left: -10000px;
  width: 1px;
  height: 1px;
  top: auto;
  overflow: hidden;
}

.nowrap {
  white-space: nowrap;
}

.hidden {
  display: none;
}

/* || GENERAL STYLES */
html {
  font-size: var(--FS);
  font-family: var(--FF);
  height: 100%;
}

body {
  color: var(--FONT-COLOR);
  background-color: var(--BGCOLOR);
  height: 100%;
}

p {
  line-height: 1.5;
}

/* || HEADER */
.header {
  background-color: var(--BGCOLOR-HEADER);
  color: var(--FONT-COLOR-HEADER-TITLE);
}

.header__container {
  padding-top: 3em;
  padding-bottom: 3em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__title {
  text-align: center;
  font-size: 2.5rem;
}

/* || MAIN */
/* FULL PAGE TAB */
main {
  height: 100%;
}

.nav {
  background-color: var(--BGCOLOR-NAV);
}

.nav__container {
  padding: 0;
}

.nav__list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
}

.nav__list > * {
  flex: 1;
}

.nav__button {
  font-size: 1.25rem;
  width: 100%;
  border: none;
  padding: 1em 0;
  background-color: var(--BGCOLOR-NAV-BUTTON);
  color: var(--FONT-COLOR-NAV-BUTTON);
  user-select: none;
  cursor: pointer;
  transition: background-color 0.15s ease-in-out;
}

.nav__button:hover:not(.nav__button--active),
.nav__button:focus-visible:not(.nav__button--active) {
  background-color: var(--BGCOLOR-NAV-BUTTON-HOVER);
}

.page {
  height: 100%;
}

.page__container {
  padding-top: 3em;
  padding-bottom: 3em;
}

.page__section {
  color: var(--FONT-COLOR-PAGE-SECTION);
}

.page__title {
  font-size: 2rem;
  margin-bottom: 1em;
}

.page__p {
  font-size: 1.125rem;
}

.bgcolor0 {
  background-color: red;
}
.bgcolor1 {
  background-color: green;
}
.bgcolor2 {
  background-color: blue;
}
.bgcolor3 {
  background-color: orange;
}

@media screen and (min-width: 768px) {
  /* || UTILITY CLASSES */
  .container {
    padding-left: 0;
    padding-right: 0;
  }

  /* || MAIN */
  /* FULL PAGE TAB */
  .nav__list {
    display: flex;
    flex-direction: row;
  }

  .page__container {
    padding: 3em 1.5em;
  }
}
