/* || IMPORT GOOGLE FONT LINKS */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

/* || RESET */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

input,
button,
textarea {
  font: inherit;
}

/* || VARIABLES */
/* CHANGE THE DATA BELOW AS NEEDED */
:root {
  /* FONTS */
  --FF: "Roboto", sans-serif;
  --FS: 1rem;

  /* COLORS */
  --BGCOLOR: #fff;
  --BGCOLOR-HERO: #23424a;
  --BGCOLOR-HERO-CTA: #38cfd9;
  --BGCOLOR-HERO-CTA-HOVER: hsl(184, 68%, 44%);
  --BGCOLOR-FEATURE: #fff;
  --BGCOLOR-FEATURE-ASIDE: #136c72;
  --FONT-COLOR: #000;
  --FONT-COLOR-HERO-TITLE: #fff;
  --FONT-COLOR-HERO-CONTENT: hsl(0, 0%, 85%);
  --FONT-COLOR-ARTICLE-TITLE: #136c72;
  --FONT-COLOR-ARTICLE-P: #3a3a3a;
  --FONT-COLOR-ASIDE: #fff;
  --BORDER-COLOR: #000;
  --SHADOW-COLOR: rgba(0, 0, 0, 0.3);

  /* BORDERS */
  --BORDERS: 1px solid var(--BORDER-COLOR);

  /* SHADOWS */
  --BOX-SHADOW: 0 0 5px var(--SHADOW-COLOR);

  /* STANDARD PADDING */
  --PADDING-TEXT: 0.25em 2.5%;

  /* STANDARD MARGIN */
  --MARGIN-TEXT: clamp(1em, 2.5vh, 1.5em) 0;
}

/* || UTILITY CLASSES */
.sr-only {
  position: absolute;
  left: -10000px;
  width: 1px;
  height: 1px;
  top: auto;
  overflow: hidden;
}

.nowrap {
  white-space: nowrap;
}

.center {
  text-align: center;
}

/* || GENERAL STYLES */
html {
  font-size: var(--FS);
  font-family: var(--FF);
  background-color: var(--BGCOLOR);
}

body {
  color: var(--FONT-COLOR);
}

/* || MAIN */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 1.5em;
  padding-right: 1.5em;
}

.hero {
  background-color: var(--BGCOLOR-HERO);
}

.main__hero {
  padding-top: 9.25em;
  padding-bottom: 9.25em;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}

.hero__text {
  width: 60%;
}

.hero__title {
  font-size: 3rem;
  font-weight: 900;
  color: var(--FONT-COLOR-HERO-TITLE);
  margin-bottom: 0.5em;
}

.hero__content {
  font-size: 1.3125rem;
  line-height: 1.5;
  color: var(--FONT-COLOR-HERO-CONTENT);
  margin-bottom: 3em;
}

.hero__cta {
  background-color: var(--BGCOLOR-HERO-CTA);
  font-size: 1.3125rem;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 1.05px;
  text-transform: uppercase;
  border: none;
  padding: 0.75em 2.3em;
  border-radius: 31.5px;
  user-select: none;
  cursor: pointer;
}

.hero__cta:hover,
.hero__cta:focus-visible {
  background-color: var(--BGCOLOR-HERO-CTA-HOVER);
}

.hero__img {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* FEATURE */
.feature__container {
  background-color: var(--BGCOLOR-FEATURE);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  gap: 2rem;
  padding-top: 3em;
  padding-bottom: 3em;
}

.feature__article {
  width: 60%;
  padding-top: 1.5em;
}

.article__title {
  color: var(--FONT-COLOR-ARTICLE-TITLE);
  font-size: 2.25rem;
  font-weight: 900;
  margin-bottom: 0.5em;
}

.article__p {
  color: var(--FONT-COLOR-ARTICLE-P);
  font-size: 1.3125rem;
  margin-bottom: 1em;
  line-height: 1.5;
}

.feature__aside {
  width: 40%;
  display: flex;
  flex-direction: column;
  gap: 4rem;
  padding: 2.5em 1.5em;
  text-align: center;
  background: var(--BGCOLOR-FEATURE-ASIDE);
  color: var(--FONT-COLOR-ASIDE);
}

.aside__title {
  font-size: 2.25rem;
  font-weight: 900;
  margin-bottom: 0.5em;
}

.aside__p {
  font-size: 1.3125rem;
  line-height: 1.5;
}

/* || MEDIA QUERIES */
@media screen and (max-width: 768px) {
  /* || MAIN */
  .main__hero {
    padding-top: 5em;
    padding-bottom: 5em;
  }

  .hero__title {
    font-size: 2rem;
  }

  .hero__content {
    font-size: 1rem;
  }

  .hero__cta {
    font-size: 1rem;
  }
}

@media screen and (max-width: 640px) {
  /* || MAIN */
  .hero__title {
    font-size: 1.75rem;
  }

  .hero__content {
    font-size: 0.75rem;
    line-height: 1.5;
  }

  .hero__cta {
    font-size: 0.75rem;
  }
}

@media screen and (max-width: 420px) {
  /* || MAIN */
  .main__hero {
    padding-top: 3.5em;
    padding-bottom: 3.5em;
  }

  .hero__title {
    font-size: 1.75rem;
  }

  .hero__content {
    font-size: 0.75rem;
    line-height: 1.5;
  }

  .hero__cta {
    font-size: 0.6rem;
  }
}
