/* || IMPORT GOOGLE FONT LINKS */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

/* || RESET */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

input,
button,
textarea {
  font: inherit;
}

/* || VARIABLES */
/* CHANGE THE DATA BELOW AS NEEDED */
:root {
  /* FONTS */
  --FF: "Roboto", sans-serif;
  --FS: 1rem;

  /* COLORS */
  --BGCOLOR: #fff;
  --FONT-COLOR: #000;
  --BORDER-COLOR: #000;
  --SHADOW-COLOR: rgba(0, 0, 0, 0.3);

  /* BORDERS */
  --BORDERS: 1px solid var(--BORDER-COLOR);

  /* SHADOWS */
  --BOX-SHADOW: 0 5px 10px var(--SHADOW-COLOR);

  /* STANDARD PADDING */
  --PADDING-TEXT: 0.25em 2.5%;

  /* STANDARD MARGIN */
  --MARGIN-TEXT: clamp(1em, 2.5vh, 1.5em) 0;
}

/* || UTILITY CLASSES */
.container {
  max-width: 75rem;
  margin: 0 auto;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.sr-only {
  position: absolute;
  left: -10000px;
  width: 1px;
  height: 1px;
  top: auto;
  overflow: hidden;
}

.nowrap {
  white-space: nowrap;
}

.center {
  text-align: center;
}

.hidden {
  display: none;
}

/* || GENERAL STYLES */
html {
  font-size: var(--FS);
  font-family: var(--FF);
  background-color: var(--BGCOLOR);
}

body {
  color: var(--FONT-COLOR);
  min-height: 100vh;
}

p {
  line-height: 1.5;
}

/* || HEADER */
.header {
  background-color: #333;
}

.header__container {
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  text-align: center;
  font-size: 1.25rem;
  color: #fff;
}

/* || MAIN */
/* ACCORDION */
.accordion__container {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.accordion__group {
  position: relative;
}

.accordion__header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 1em 1.5em;
  user-select: none;
  cursor: pointer;
  background-color: #eee;
  border: none;
}

.active,
.accordion__header:hover,
.accordion__header:focus-visible {
  background-color: #ccc;
}

.accordion__title {
  font-weight: 400;
  font-size: 1.15rem;
  text-transform: uppercase;
}

.accordion__icon {
  font-weight: 600;
  font-size: 1.15rem;
}

.accordion__content {
  background-color: #fafafa;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.15s ease-in-out;
}

.accordion__content p {
  padding: 1em 1.5em;
}
