/* || IMPORT GOOGLE FONT LINKS */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

/* || RESET */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

input,
button,
textarea {
  font: inherit;
}

/* || VARIABLES */
/* CHANGE THE DATA BELOW AS NEEDED */
:root {
  /* FONTS */
  --FF: "Roboto", sans-serif;
  --FS: clamp(0.6rem, 1.5vw, 1rem);

  /* COLORS */
  --BGCOLOR: whitesmoke;
  --BGCOLOR-HEADER: #333;
  --BGCOLOR-TABHEADER-BUTTON: #555;
  --BGCOLOR-TABHEADER-BUTTON-HOVER: #333;
  --FONT-COLOR: #000;
  --FONT-COLOR-HEADER-TITLE: #fff;
  --FONT-COLOR-TABHEADER-CONTENT: #fff;
  --FONT-COLOR-TABHEADER-BUTTON: #fff;
  --BORDER-COLOR: #aaa;
  --SHADOW-COLOR: rgba(0, 0, 0, 0.3);

  /* BORDERS */
  --BORDERS: 1px solid var(--BORDER-COLOR);

  /* SHADOWS */
  --BOX-SHADOW: 0 5px 10px var(--SHADOW-COLOR);

  /* STANDARD PADDING */
  --PADDING-TEXT: 0.25em 2.5%;

  /* STANDARD MARGIN */
  --MARGIN-TEXT: clamp(1em, 2.5vh, 1.5em) 0;
}

/* || GENERAL STYLES */
html {
  font-size: var(--FS);
  font-family: var(--FF);
}

body {
  color: var(--FONT-COLOR);
  background-color: var(--BGCOLOR);
  min-height: 150vh;
}

p {
  line-height: 1.5;
}

/* || HEADER */
.header {
  background-color: var(--BGCOLOR-HEADER);
  color: var(--FONT-COLOR-HEADER-TITLE);
}

.header__container {
  padding-top: 3em;
  padding-bottom: 3em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__title {
  text-align: center;
  font-size: 2.5rem;
}

/* || MAIN */
/* TAB HEADER */
.tabHeader__container {
  margin-top: 1.5rem;
}

.tabHeader__content {
  height: min(600px, 70vh);
  overflow-y: auto;
  padding: 0 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--FONT-COLOR-TABHEADER-CONTENT);
  background-color: black;
}

.tabHeader__article {
  text-align: center;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.tabHeader__title {
  font-size: 3rem;
  margin-bottom: 1em;
}

.tabHeader__p {
  font-size: 1.5rem;
}

.tabHeader__list {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.tabHeader__list li {
  flex: 25%;
}

.tabHeader__button {
  border: none;
  color: var(--FONT-COLOR-TABHEADER-BUTTON);
  background-color: var(--BGCOLOR-TABHEADER-BUTTON);
  width: 100%;
  padding: 0.5em 1em;
  font-size: 1.5rem;
  user-select: none;
  cursor: pointer;
}

.tabHeader__button:hover:not(.active),
.tabHeader__button:focus-visible:not(.active) {
  background-color: var(--BGCOLOR-TABHEADER-BUTTON-HOVER);
}

/* || UTILITY CLASSES */
.container {
  max-width: 75rem;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.sr-only {
  position: absolute;
  left: -10000px;
  width: 1px;
  height: 1px;
  top: auto;
  overflow: hidden;
}

.nowrap {
  white-space: nowrap;
}

.hidden {
  display: none;
}

.bgcolor0 {
  background-color: red;
}

.bgcolor1 {
  background-color: green;
}

.bgcolor2 {
  background-color: blue;
}

.bgcolor3 {
  background-color: orange;
}
