/* || IMPORT GOOGLE FONT LINKS */
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto+Slab:wght@100..900&display=swap");

/* || RESET */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

input,
button,
textarea {
  font: inherit;
}

/* || VARIABLES */
/* CHANGE THE DATA BELOW AS NEEDED */
:root {
  /* FONTS */
  --FF: "Roboto", sans-serif;
  --FF-ALT: "Playfair Display", serif;
  --FS: 1rem;

  /* COLORS */
  --BGCOLOR: #fff;
  --BGCOLOR-HEADER: #f3eed9;
  --BGCOLOR-ARTICLE-1: #fff;
  --BGCOLOR-ARTICLE-2: #222c2a;
  --BGCOLOR-ARTICLE-3: #824936;
  --FONT-COLOR: #000;
  --FONT-COLOR-HEADER-SUBTITLE: #222c2a;
  --FONT-COLOR-HEADER-TITLE: #824936;
  --FONT-COLOR-ARTICLE-TITLE-MAIN: #824936;
  --FONT-COLOR-ARTICLE-TITLE: #f3eed9;
  --FONT-COLOR-ARTICLE-P-MAIN: #222c2a;
  --FONT-COLOR-ARTICLE-P: #fff;
  --BORDER-COLOR: #000;
  --SHADOW-COLOR: rgba(0, 0, 0, 0.3);

  /* BORDERS */
  --BORDERS: 1px solid var(--BORDER-COLOR);

  /* SHADOWS */
  --BOX-SHADOW: 0 0 5px var(--SHADOW-COLOR);

  /* STANDARD PADDING */
  --PADDING-TEXT: 0.25em 2.5%;

  /* STANDARD MARGIN */
  --MARGIN-TEXT: clamp(1em, 2.5vh, 1.5em) 0;
}

/* || UTILITY CLASSES */
.sr-only {
  position: absolute;
  left: -10000px;
  width: 1px;
  height: 1px;
  top: auto;
  overflow: hidden;
}

.nowrap {
  white-space: nowrap;
}

.center {
  text-align: center;
}

.container {
  max-width: 1128px;
  margin: 0 auto;
  padding-left: 1.5em;
  padding-right: 1.5em;
}

/* || GENERAL STYLES */
html {
  font-size: var(--FS);
  font-family: var(--FF);
  background-color: var(--BGCOLOR);
}

body {
  color: var(--FONT-COLOR);
}

/* || HEADER */
.header {
  background-color: var(--BGCOLOR-HEADER);
}

.header__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 660px;
  text-align: center;
}

.header__title {
  color: var(--FONT-COLOR-HEADER-TITLE);
  font-family: var(--FF-ALT);
  font-weight: 900;
  font-size: 3.75rem;
  max-width: 50rem;
}

.header__subtitle {
  color: var(--FONT-COLOR-HEADER-SUBTITLE);
  font-size: 1.125rem;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 0.5em;
  margin-bottom: 1em;
}

/* || MAIN */
.article {
  min-height: 450px;
  line-height: 1.5;
}

.article__title {
  font-family: var(--FF-ALT);
  font-size: 2.25rem;
  font-weight: 900;
  color: var(--FONT-COLOR-ARTICLE-TITLE);
  margin-bottom: 0.5em;
}

.article__title--main {
  color: var(--FONT-COLOR-ARTICLE-TITLE-MAIN);
  text-align: center;
  margin-bottom: 1em;
}

.article__p {
  font-size: 1.3125rem;
  font-weight: 400;
  color: var(--FONT-COLOR-ARTICLE-P);
}

.article__p--main {
  color: var(--FONT-COLOR-ARTICLE-P-MAIN);
}

.article:first-child {
  background-color: var(--BGCOLOR-ARTICLE-1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.article__content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  gap: 3.5rem;
  line-height: 1.5;
}

.article__content > * {
  flex: 50%;
}

.article:nth-child(2) {
  background-color: var(--BGCOLOR-ARTICLE-2);
  display: flex;
  justify-content: center;
  align-items: center;
}

.article:nth-child(2) .article__container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: 3.5rem;
}

.article:last-child {
  background-color: var(--BGCOLOR-ARTICLE-3);
  display: flex;
  align-items: center;
  justify-content: center;
}

.article:last-child .article__container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: 3.5rem;
}

.article__text {
  flex: 50%;
}

.article__image {
  flex: 50%;
}

.article:last-child .article__image {
  order: -1;
}

/* || MEDIA QUERIES */
@media screen and (max-width: 319.99px) {
  /* || HEADER */
  .header__title {
    font-size: 2.5rem;
  }

  .header__subtitle {
    font-size: 0.835rem;
  }

  /* || MAIN */
  .article__title {
    font-size: 1.5rem;
    margin-bottom: 0.5em;
    text-align: left;
  }

  .article__p {
    font-size: 1rem;
  }

  .article__content {
    flex-direction: column;
    justify-content: center;
    gap: 1.25rem;
  }

  .article__content > * {
    flex: 100%;
  }

  .article:nth-child(2) .article__container {
    flex-direction: column;
    justify-content: center;
    gap: 1.25rem;
  }

  .article:last-child .article__container {
    flex-direction: column;
    justify-content: center;
    gap: 1.25rem;
  }

  .article__text {
    flex: 100%;
  }

  .article__image {
    flex: 100%;
  }

  .article:last-child .article__image {
    order: 0;
  }
}

@media screen and (min-width: 320px) {
  /* || HEADER */
  .header__title {
    font-size: 2.5rem;
  }

  .header__subtitle {
    font-size: 0.835rem;
  }

  /* || MAIN */
  .article__title {
    font-size: 1.5rem;
    margin-bottom: 0.5em;
    text-align: left;
  }

  .article__p {
    font-size: 1rem;
  }

  .article__content {
    flex-direction: column;
    justify-content: center;
    gap: 1.25rem;
  }

  .article__content > * {
    flex: 100%;
  }

  .article:nth-child(2) .article__container {
    flex-direction: column;
    justify-content: center;
    gap: 1.25rem;
  }

  .article:last-child .article__container {
    flex-direction: column;
    justify-content: center;
    gap: 1.25rem;
  }

  .article__text {
    flex: 100%;
  }

  .article__image {
    flex: 100%;
  }

  .article:last-child .article__image {
    order: 0;
  }
}

@media screen and (min-width: 768px) {
  /* || HEADER */
  .header__title {
    font-size: 3.75rem;
  }

  .header__subtitle {
    font-size: 1.125rem;
  }

  /* || MAIN */
  .article__title {
    font-size: 2.25rem;
    text-align: left;
  }

  .article__title--main {
    text-align: center;
    margin-bottom: 1em;
  }

  .article__p {
    font-size: 1.3125rem;
  }

  .article__content {
    flex-direction: row;
    justify-content: space-between;
    gap: 3.5rem;
  }

  .article__content > * {
    flex: 50%;
  }

  .article:nth-child(2) .article__container {
    flex-direction: row;
    justify-content: space-between;
    gap: 3.5rem;
  }

  .article:last-child .article__container {
    flex-direction: row;
    justify-content: space-between;
    gap: 3.5rem;
  }

  .article__text {
    flex: 50%;
  }

  .article__image {
    flex: 50%;
  }

  .article:last-child .article__image {
    order: -1;
  }
}
